@font-face {
    font-family: 'LibreBaskerville';
    src: url("../fonts/LibreBaskerville-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: 'BungeeShade';
    src: url("../fonts/BungeeShade-Regular.ttf") format("truetype");
    font-weight: normal;
}
